<div class="col-md-12">
    <h3 class="card-title mb-4">Taxonomy of reliance patterns</h3>
    <div style="margin: 8px">
    <div class="table-responsive">
        <table class="table table-hover reliance-taxonomy-table" >
            <thead>
                <tr>
                    <th>Human Judgment <smaller>(HD1)</smaller></th>
                    <th>AI support <smaller>(AI)</smaller></th>
                    <th>Final decision <smaller>(FHD)</smaller></th>
                    <th>Reliance pattern</th>
                    <th>Biases and Effects</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>detrimental reliance</td>
                    <td>automation complacency</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>beneficial under-reliance</td>
                    <td>extreme algorithmic aversion</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>detrimental self-reliance</td>
                    <td>conservatism bias</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>beneficial over-reliance</td>
                    <td>algorithm appreciation</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>detrimental over-reliance</td>
                    <td>automation bias</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>beneficial self-reliance</td>
                    <td>algorithmic aversion</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>detrimental under-reliance</td>
                    <td>extreme algorithmic aversion</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>beneficial reliance</td>
                    <td>confirmation bias (in later cases)</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="card-body">
        <p class="">
            <small>
                Definition of all possible decision and reliance patterns between human decision makers and their AI system. In the
                first three columns, 0 denotes an incorrect decision, and 1 a correct decision. We associate the attitude towards the AI in each
                possible decision pattern (in terms of trust), which leads to either accepting or discarding the AI advice, and the main
            related cognitive biases.</small>
        </p>
    </div>
</div>
